name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.25.x']
      
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      
      - name: Format Project
        run: |
          go fmt
      
      - name: Install Dependecies
        run: |
          go mod download
      
      - name: Build Binary
        run: |
          go build